.course-summary-title {
    .course-summary-space {
      display: flex;
      flex-direction: column;
  
      // @media (min-width: 576px) {
      //   flex-direction: row;
      // }
    }
  }

  @media only screen and (max-width: 600px) {
  .responsive-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .responsive-space > * {
    flex: 1 1 100%;
    margin-bottom: 8px;
  }
}