// styles/SemesterCell.module.scss

.semesterCell {
  height: 100%;
  min-height: 120px;
  border: 1px dashed #ccc;
  border-radius: 4px;
  padding: 8px;
  opacity: 1;
  transition: opacity 0.3s;

  &.isDragging {
    opacity: 0.5;
  }

  &.canDrop {
    background: #f0f5ff;

    &.isOver {
      background: #e6f7ff;
    }
  }
}

.cardTitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.paragraph {
  margin: 0;
  white-space: normal;
  width: 100%;
  overflow-wrap: break-word;
}