/* index.css */

/* set global color to white */
body, html, #root {
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

/* 其他全局样式 */
* {
    user-select: none;
}